.alert-message.block-message.error
  %p= t.user.delete_confirm
  %a{class: "btn danger", href: "/user/delete2"}= t.user.delete_confirm_yes
  %a{class: "btn success", href: "/user"} t.user.delete_confirm_no
