!!!
%html
  %head
    %title= @title
    %link(rel="stylesheet" href="/css/bootstrap.css")
    %script{:src  => "/js/bootstrap-alerts.js"}
    %link(rel="stylesheet" href="/css/style.css")
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
  %body
    =show_flash
    =yield
